doctype html
html
	head
		title Dora Sound's
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		script(type='text/javascript' src="scripts/jquery-1.11.3.min.js")
		
		link(href='styles/stileChat.css', rel='stylesheet')
		link(href='styles/stileHomepage.css', rel='stylesheet')
		link(href='styles/chatBox.css', rel='stylesheet')
	body
		form(action='/scegliServizio', method='GET')
			input(type='text', id='campoArtista', name='artista', value='', placeholder="Cerca un Artista...", required)
			br
			input(type='submit', value='ricerca')
		.wrapper
			.chat-box
				.chat-head
					h2 Chat Box
					input(type="text",placeholder="Nickname", id='nick')
					img(src='https://maxcdn.icons8.com/windows10/PNG/16/Arrows/angle_up-16.png', title='Expand Arrow', width='16')
				.chat-body(style='display: none;')
					#feedback
					.msg-insert
					.chat-text
						input(type="text",placeholder="Send message")

		script(type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js")
		script(type='text/javascript' src="scripts/chatBoxScript.js")