.coso{

  align-self: flex-end;
}
.button2:hover {
  background-color: #008CBA;
  color: white;
}
p{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container{
  margin-top: 3%;
  background-color: rgb(228, 228, 228);
  border-radius: 3%;
  width: auto;
}
.media{
  margin-bottom: 1%;
}
.body{
  background-color: white;
}
