.coso{

  align-self: flex-end;
}
.button2:hover {
  background-color: #008CBA;
  color: white;
}
p{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.containers{
  background-color: rgb(228, 228, 228);
  border-radius: 5%;
  width: 85%;
  margin: auto;
  margin-top: 3%;
  display: block;
}
.media{
  margin-bottom: 1%;
}
#img{
  display: flex;
  float: right;
}
.paragraf{
  margin-left: 1px;
}
nav{
  margin-left: 1px;
}
.mr-3{
  margin-left: 2px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  .table { 
    text-align: left;
  }
}