<html>

<header>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <title>Curriculum</title>
  <link rel="stylesheet" href="/stylesheets/main.css" type="text/css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</header>
<body class="body" > 
    <div class="container justify-content-md-center">
        <br>
        <div class="media">
            <img src="/LIE7Lzj.jpg" width="200px" height="200px" class="mr-3 rounded-pill">
            <div class="coso"><h1 class="display-3"><strong>Alessio Bacheca</strong></h1></div>
        </div>
        <nav class="nav nav-pills nav-fill border border-dark rounded bg-white">
        <a class="nav-item nav-link button2" href="/">Percorso</a>
        <a class="nav-item nav-link button2 active" href="/conoscenze">Conoscenze</a>
        <a class="nav-item nav-link button2" href="/progetti">Progetti</a>
        <a class="nav-item nav-link button2" href="/contatti">Contatti</a>
        </nav>

        <div>
            <br>
            <div class="table-responsive -lg">
                <table class="table table-borderless">
                    <thead>
                        <tr><th scope="row"><h1><strong>Strumenti e tecnologie</strong></h1></th></tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row"> <h4><strong>HTML</strong></h4></th>
                            <td><h4><strong>CSS</strong></h4></td>
                        </tr>
                        <tr>
                            <th scope="row"> <h4><strong>C</strong></h4></th>
                            <td><h4><strong>Python</strong></h4></td>
                        </tr>
                        <tr>
                            <th scope="row"> <h4><strong>Java</strong></h4></th>
                            <td><h4><strong>Javascript</strong></h4></td>
                        </tr>
                        <tr>
                            <th scope="row"> <h4><strong>JQuery</strong></h4></th>
                            <td><h4><strong>XML</strong></h4></td>
                        </tr>
                        <tr>
                            <th scope="row"> <h4><strong>Bootstrap</strong></h4></th>
                            <td><h4><strong>Node.js</strong></h4></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="table-responsive">
                <table class="table table-borderless">
                    <thead>
                        <tr><th scope="row"><h1><strong>Lingue Straniere</strong></h1></th></tr>
                    </thead>
                    <tbody>
                        <tr><th scope="row"><h4><strong>Inglese</strong></h4></th></tr>
                    </tbody>
                </table>
            </div>
        </div>
        <br>
    </div>
</body>
</html>