<html>

<header>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <title>Curriculum</title>
  <link rel="stylesheet" href="/stylesheets/main.css" type="text/css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</header>

<body> 
        <a class="float-inline bg-white btn" role="button" href="/contatti" id="img"> <img src="/s-l300.jpg" width="50px" height="50px" class="rounded"> </a>
    <div class="containers">
        <br>
        <div class="media">
            <img src="/LIE7Lzj.jpg" width="200px" height="200px" class="mr-3 rounded-pill">
            <div class="coso"><h1 class="display-3"><strong>Alessio Bacheca</strong></h1></div>
        </div>
        <nav class="nav nav-pills nav-fill border border-dark rounded bg-white">
        <a class="nav-item nav-link button2" href="/history">History</a>
        <a class="nav-item nav-link button2" href="/ability">Ability</a>
        <a class="nav-item nav-link button2" href="/projects">Projects</a>
        <a class="nav-item nav-link button2 active" href="/contacts">Contacts</a>
        </nav>

        <div class="paragraf">
            <br>
            <p class="h2">
                E-mail : alessio.bacheca96@gmail.com
            </p>
            <p class="h2">
                Mobile: +39 3394511988
            </p>
            <p class="h2">
                LinkedIn: <a href="https://linkedin.com/in/alessio-bacheca-6a0195184 "> linkedin.com/in/alessio-bacheca-6a0195184</a>
            </p>
        </div>
        <br>
    </div>
</body>
</html>