<html>

<header>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <title>Curriculum</title>
  <link rel="stylesheet" href="/stylesheets/main.css" type="text/css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</header>
<body> 
    <a class="float-inline bg-white btn" role="button" href="/" id="img"> <img src="/s-l300.jpg" width="40px" height="40px" class="rounded"> </a>
    <div class="containers">
        <br>
        <div class="media">
            <img src="/index.png" width="200px" height="200px" class="mr-3 rounded-pill">
            <div class="coso"><h1 class="display-3"><strong>Alessio Bacheca</strong></h1></div>
        </div>
        <nav class="nav nav-pills nav-fill border border-dark rounded bg-white">
        <a class="nav-item nav-link button2 active" href="/history">Histrory</a>
        <a class="nav-item nav-link button2" href="/ability">Ability</a>
        <a class="nav-item nav-link button2" href="/projects">Projects</a>
        <a class="nav-item nav-link button2" href="/contacts">Contacts</a>
        </nav>

        <div class="paragraf">
            <br>
            <p class="h2">
                Graduating in computer engineering and automatic at the University of Rome "La Sapienza", missing four exams at the degree. 
            </p>
            <br>
            <p class="h2">
                Looking for a part-time job to join the study in the master degree in Cybersecurity at La Sapienza. 
            </p>
            <br>
            <p class="h2">
                Collaborated, during the course of studies, in the realization of many projects, including websites, filesystems, with competence with Git interface for communication between members of a work group.
            </p>
            <br>
            <p class="h2">
                Achieved of the European driving license for the knowledge of the Microsoft work tools (E.C.D.L).
            </p>
        </div>
        <br>
    </div>
</body>
</html>