<html>

<header>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <title>Curriculum</title>
  <link rel="stylesheet" href="/stylesheets/main.css" type="text/css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</header>


<body>

      <div class="media bg-secondary">
        <img src="/LIE7Lzj.jpg" width="200px" height="200px" class="mr-3 rounded-pill">
          <div class="coso"><h1>COSOCOSETTO</h1></div>
      </div>
      <nav class="nav nav-pills nav-fill">
        <a class="nav-item nav-link button2" href="#">Percorso</a>
        <a class="nav-item nav-link button2" href="#">Conoscenze</a>
        <a class="nav-item nav-link button2" href="#">Progetti</a>
        <a class="nav-item nav-link button2" href="#">Contatti</a>
      </nav>
  
</body>
</html>   