<html>

<header>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <title>Curriculum</title>

</header>
<body>
  <div>
    <h1>COSOCOSETTO</h1>

  </div>
  <div>
    <h2>cosetti</h2>
  </div>
</body>
</html>