<html>

<header>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <title>Curriculum</title>
  <link rel="stylesheet" href="/stylesheets/main.css" type="text/css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</header>
<body class="body" > 
    <div class="container justify-content-md-center">
        <br>
        <div class="media">
            <img src="/LIE7Lzj.jpg" width="200px" height="200px" class="mr-3 rounded-pill">
            <div class="coso"><h1 class="display-3"><strong>Alessio Bacheca</strong></h1></div>
        </div>
        <nav class="nav nav-pills nav-fill border border-dark rounded bg-white">
        <a class="nav-item nav-link button2" href="/">Percorso</a>
        <a class="nav-item nav-link button2" href="/conoscenze">Conoscenze</a>
        <a class="nav-item nav-link button2 active" href="/progetti">Progetti</a>
        <a class="nav-item nav-link button2" href="/contatti">Contatti</a>
        </nav>

        <div>
            <br>
            <p class="h3">
                Web-app restfull di ricerca artisti, con riconoscimento tramite oauth a piattaforme social come facebook e Spotify, programmato tramite Node.js. <br> Repository <a href="https://github.com/Ebloin/Dora-project.git" class="btn btn-lg badge-secondary"><strong>QUI</strong></a>  
            </p>
            <br>
            <p class="h3">
                Progettazione del curriculum qui presente, sviluppato tramite HTML, CSS, e Javascrip; utilizzando come ambiente di programmazione per il server Node.js. CSS implementato con Bootstrap. <br> Repository <a href="https://github.com/Bachecafet/curriculae.git" class="btn btn-lg badge-secondary"><strong>QUI</strong></a>
            </p>
            <br>
            <p class="h3">
                Progettazione di un FileSistem per un sistema operativo. In aggiunta una bitmap e un diskdriver, cosi da consentire al FS di poter essere testato come sistema operativo a se stante, senza compromettere il nativo. Il tutto programmato in C. <br> Repository <a href="https://gitlab.com/Bachecafet/so_filesystem.git" class="btn btn-lg badge-secondary"><strong>QUI</strong></a>
            </p>
        </div>
        <br>
    </div>
</body>
</html>