<html>

<header>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <title>Curriculum</title>
  <link rel="stylesheet" href="/stylesheets/main.css" type="text/css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</header>
<body> 
    <a class="float-inline bg-white btn" role="button" href="/projetti" id="img"> <img src="/s-l300.jpg" width="40px" height="40px" class="rounded"> </a>
    <div class="containers">
        <br>
        <div class="media">
            <img src="/LIE7Lzj.jpg" width="200px" height="200px" class="mr-3 rounded-pill">
            <div class="coso"><h1 class="display-3"><strong>Alessio Bacheca</strong></h1></div>
        </div>
        <nav class="nav nav-pills nav-fill border border-dark rounded bg-white">
            <a class="nav-item nav-link button2" href="/history">History</a>
            <a class="nav-item nav-link button2" href="/ability">Ability</a>
            <a class="nav-item nav-link button2 active" href="/projects">Projects</a>
            <a class="nav-item nav-link button2" href="/contacts">Contacts</a>
        </nav>

        <div class="paragraf">
            <br>
            <p class="h3">
                Web-app restfull of artists search, with recognition via oauth to social platforms like facebook and Spotify, programmed through Node.js. <br> Repository <a href="https://github.com/Ebloin/Dora-project.git" class="btn btn-lg badge-secondary"><strong>HERE</strong></a>  
            </p>
            <br>
            <p class="h3">
                Curriculum design present here, developed through HTML, CSS, and Javascrip; using as a programming environment for the Node.js. server CSS implemented with Bootstrap. <br> Repository <a href="https://github.com/Bachecafet/curriculae.git" class="btn btn-lg badge-secondary"><strong>HERE</strong></a>
            </p>
            <br>
            <p class="h3">
                Design of a FileSistem for an operating system. In addition a bitmap and a diskdriver, so as to allow the FS to be tested as an operating system in its own right, without compromising the native. All programmed in C. <br> Repository <a href="https://gitlab.com/Bachecafet/so_filesystem.git" class="btn btn-lg badge-secondary"><strong>HERE</strong></a>
            </p>
        </div>
        <br>
    </div>
</body>
</html>