
input[type=text]#campoArtista, select {
	width: 50%;
	padding: 12px 20px;
	margin-top: 25%;
	margin-left: 25%;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	text-align: center;
}
input[type=submit] {
	width: 10%;
	margin-left: 46%;
	background-color:white;
	padding: 14px 20px;
	margin-top:8px;
	border: none;
	border-radius: 8px;
	cursor: pointer;
	font-family: "Circular", Charcoal, sans-serif;
	color: black;
}
input[type=submit]:hover { 
	opacity: 0.75;
}

a:hover {
	opacity: 0.75;
}

body {
	width:80%;
    margin-left:auto;
    margin-right:auto;
	margin-bottom:auto;
	background-color: #45a049;
	background-image: url("https://source.unsplash.com/1600x900/?music,sound");
	background-size: cover;
    background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: white;
}

iframe{
	margin-left: 35%;
	border-radius: 5px;
}
h1{
	font-family: "Circular", Charcoal, sans-serif;
	color: black;
	margin: auto;
	}
@font-face {
    font-family: 'Circular'; 
    src: url('../fonts/circular-black.otf'); /*URL to font*/
}