html{
	margin-top: -10px;
  }

body {
	width:80%;
	height: 100%;
    margin-left:auto;
    margin-right:auto;
	margin-bottom:auto;
	background-color: #eeeeee;
}
.cover{
	background-size: cover;
	background-position: center center;
	padding: 20px;	
	z-index: 1;
}
.cover__opacity{
	background: black;
    background-size: cover;
    position: absolute;
    z-index: 0; /*voglio lo sfondo sotto al testo*/
    opacity: 0.25;
}

.results{
	z-index: 2;
}
.results li{
	margin-bottom: 30px;
	list-style: none;
	overflow: auto;
}

.left-img{
	float: left;
	width: 35%;
}
.left-img iframe{
	width: 100%;
	border-radius: 10px;	
}
.right-text{
	float: right;
	width: 58%;
	color: white;
	font-size: 30;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	text-align: center;	
}
.right-text a{
	text-decoration: none;	
}

	
.right-text h2{
	font-family: "SignorAutoma";
	color: rgba(255, 0, 0, 0.877);
	margin: auto;
	font-weight:normal;
}

@font-face {
    font-family: 'SignorAutoma'; 
    src: url('../fonts/MR ROBOT.ttf'); /*URL to font*/
}
@font-face {
    font-family: 'Terminal'; 
    src: url('../fonts/LetterGothicStd.ttf'); /*URL to font*/
}
